$bg-sidebar: #2c3e50;

$link-light: gold;
$link-dark: #333333;


$sm: 520px;
:root {
  --h1: 42px;
  --h2: 38px;
  --h3: 34px;
  --h4: 30px;
  --h5: 26px;
  --h6: 22px;
  --p: 18px;
}


@media (max-width: $sm) {
  :root {
    --h1: 28px;
    --h2: 24px;
    --h3: 22px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --p: 14px;
  }
}
